@model CodeWithMe.Models.Program
<div class="h-100 ">

    <div class="row h-100 ml-0 type">
        <div class="col-3  shadow p-3  bg-light rounded text-dark p-4">
            <ul class="nav mynav list-unstyled flex-column p-3 d-flex text-dark w-100 ">
                @foreach(var i in ViewBag.list){
                <li class="pb-2"><a href="/Type/@ViewBag.lang/@i.Id" class="text-black text-decoration-none">@i.Name</a></li>
                }
                
            </ul>
        </div>
        <div class="col d-flex flex-column  flex-wrap overflow-auto box py-5">
            <div class="d-flex justify-content-center"><h2>@ViewBag.lang</h2></div>
            <div class="d-flex justify-content-start pl-5 mt-2"><h4>@Model.Name</h4></div>
            <div class="d-flex justify-content-start pl-5 mt-2 mb-1">@Model.Description</div>
            <div class="d-flex justify-content-start ml-2 p-5"  id="editor2" style="height:50vh;width:80%;">@Model.Code</div>

         </div>
    </div>
</div>
@section Scripts {
   <script>
        var editor = ace.edit("editor2");
        editor.setTheme("ace/theme/monokai");
        var session = editor.getSession();
        session.setMode({
            path: "ace/mode/@ViewBag.lang.ToLower()",
            v: Date.now()
        })
       editor.setReadOnly(true);
   </script>
}